@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

body{
    background-image: url(./clock\ gradient.jpg);
    background-size: 100%;
}
#digital-clock {
background-color:darkgray;
width: 35%;
margin: auto;
margin-top: 220px;
padding-top: 50px;
padding-bottom: 50px;
font-family: 'Orbitron';
font-size: 50px;
text-align: center;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}